{# Widget #}

{% block form_widget %}
    <input type="{{- type -}}" id="{{- id -}}" name="{{- name -}}" {{- disabled -}} {{- required -}}>
{% endblock %}

{# Row #}

{% block form_row %}
    <div class="form-group {{ form.row_attr }}">
        {{- form_label(form) -}}
        {{- form_error(form) -}}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
    </div>
{% endblock %}

{# Label #}

{% block form_label %}
    <label for="{{- label -}}"></label>
{% endblock %}

{# Error #}

{% block form_error %}
    <label for="{{- label -}}"></label>
{% endblock %}

{# Help #}

{% block form_help %}
    <span>{{- message -}}</span>
{% endblock %}